<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.danielpark.player">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ExamplePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateUnspecified"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>
